pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
/alfa/app/.idea
/alfa/app/.idea/
alfa/app/.idea/
/alfa/app/.idea/*.iml
alfa/app/.idea/*.iml
alfa/app/.idea/*.xml
*.iml
*.xml
*.xml
*.xml
*.iml
