{:dev    {:content-source ["content" "source" "dev"]
          :video-target   ["content" "video"]
          :lib-source     "libs"
          :content-target {:entry        ["content" "target" "dev"]
                           :video        "video"
                           :znet-problem "znet_problem"
                           :zp-problem   "zp_problem"
                           :old-problem  "old_problem"
                           :db-data      "db_data"
                           :image        "image"
                           :notes        "notes"
                           :resources    "resources"}
          :server         {:port 4000
                           :path "/"
                           :host "localhost"}}
 :viewer {:content-source ["content" "source" "viewer"]
          :video-target   ["content" "video"]
          :lib-source     "libs"
          :content-target {:entry        ["content" "target" "viewer"]
                           :video        "video"
                           :znet-problem "znet_problem"
                           :zp-problem   "zp_problem"
                           :old-problem  "old_problem"
                           :db-data      "db_data"
                           :image        "image"
                           :notes        "notes"
                           :resources    "resources"}
          :server         {:port 4000
                           :path "/"
                           :host "localhost"}}
 :sma    {:content-source ["content" "source" "sma"]
          :video-target   ["content" "video"]
          :lib-source     "libs"
          :content-target {:entry        ["content" "target" "sma"]
                           :video        "video"
                           :znet-problem "znet_problem"
                           :zp-problem   "zp_problem"
                           :image        "image"
                           :old-problem  "old_problem"
                           :db-data      "db_data"
                           :notes        "notes"
                           :resources    "resources"}
          :server         {:port 4000
                           :path "/"
                           :host "localhost"}}
 :smp    {:content-source ["content" "source" "smp"]
          :video-target   ["content" "video"]
          :lib-source     "libs"
          :content-target {:entry        ["content" "target" "smp"]
                           :video        "video"
                           :znet-problem "znet_problem"
                           :image        "image"
                           :zp-problem   "zp_problem"
                           :old-problem  "old_problem"
                           :db-data      "db_data"
                           :notes        "notes"
                           :resources    "resources"}
          :server         {:port 4000
                           :path "/"
                           :host "localhost"}}
 :sda     {:content-source ["content" "source" "sd"]
           :video-target   ["content" "video"]
           :lib-source     "libs"
           :content-target {:entry        ["content" "target" "sd"]
                            :video        "video"
                            :znet-problem "znet_problem"
                            :image        "image"
                            :zp-problem   "zp_problem"
                            :old-problem  "old_problem"
                            :db-data      "db_data"
                            :notes        "notes"
                            :resources    "resources"}
           :server         {:port 4000
                            :path "/"
                            :host "localhost"}}}