[{:dir
  "/Users/sabdaps/Public/Zenius/zenpres-school/content/source/sma/04 UN SMA/01 Matematika IPA/01 UN SMA Matematika IPA 2016/01 UN SMA Matematika 2016 Part II/zp_problem/04",
  :id "962a440e-d91c-11e6-bf26-cec0c932ce01d",
  :type :single}
 {:dir
  "/Users/sabdaps/Public/Zenius/zenpres-school/content/source/sma/04 UN SMA/01 Matematika IPA/02 UN SMA Matematika IPA 2015/02 UN SMA Matematika IPA 2015 Part II/zp_problem/01",
  :id "3026832e-d968-11e6-bf26-cec0c932ce01a",
  :type :single}
 {:dir
  "/Users/sabdaps/Public/Zenius/zenpres-school/content/source/sma/04 UN SMA/10 Ekonomi/01 UN SMA Ekonomi 2012/04 Part 4/zp_problem/31",
  :id "3ce3068d-a372-4017-a443-2342ed95439e",
  :type :single}
 {:dir
  "/Users/sabdaps/Public/Zenius/zenpres-school/content/source/sma/04 UN SMA/01 Matematika IPA/02 UN SMA Matematika IPA 2015/02 UN SMA Matematika IPA 2015 Part II/zp_problem/02",
  :id "3026857c-d968-11e6-bf26-cec0c932ce01b",
  :type :single}
 {:dir
  "/Users/sabdaps/Public/Zenius/zenpres-school/content/source/sma/04 UN SMA/01 Matematika IPA/02 UN SMA Matematika IPA 2015/02 UN SMA Matematika IPA 2015 Part III/zp_problem/04",
  :id "30268766-d968-11e6-bf26-cec0c932ce01dd",
  :type :single}
 {:dir
  "/Users/sabdaps/Public/Zenius/zenpres-school/content/source/sma/04 UN SMA/01 Matematika IPA/01 UN SMA Matematika IPA 2016/01 UN SMA Matematika 2016 Part II/zp_problem/05",
  :id "962a44e0-d91c-11e6-bf26-cec0c932ce01e",
  :type :single}
 {:dir
  "/Users/sabdaps/Public/Zenius/zenpres-school/content/source/sma/04 UN SMA/08 Geografi/01 UN SMA Geografi 2012/01 UN SMA Geografi 2012 Part III/zp_problem/05",
  :id "9703923a-f28b-11e6-bc64-92361f002671",
  :type :single}
 {:dir
  "/Users/sabdaps/Public/Zenius/zenpres-school/content/source/sma/04 UN SMA/01 Matematika IPA/01 UN SMA Matematika IPA 2016/01 UN SMA Matematika 2016 Part I/zp_problem/05",
  :id "962a44e0-d91c-11e6-bf26-cec0c932ce01",
  :type :single}]
